/* Projects.css */

.projects {
  width: 100vw;
  min-height: 80vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    align-self: flex-start;
    margin-left: 1rem;
  }
}


.projects__container {
  width: 85vw;
  min-height: 50vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  .projects__item-container {
    display: flex;
    max-width: 100%;
    .projects__item {
      margin: 1rem;
      width: 25rem;
      border-radius: 5px;
      overflow: hidden;
      // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      .projects__item-image {
        max-width: 100%;
        cursor: pointer;
        border-radius: 5px;
      }
      h3 {
        display: none;
        transition: ease-in-out 0.3s;
      }
      &:hover {
        h3 {
          display: block;
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          padding: 1rem;
          margin: 0;
          transition: ease-in-out 0.3s;
        }
      }
    }
  }
}





.projects__project-details {
  height: 100%
}

@media screen and (max-width: 950px) {
  .projects {
    .projects__container {
      .projects__item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        .projects__item {
          width: 90%;
        }
      }
    }
  }
  
}