.main {
  width: 100vw;
  height: 100vh;
  margin: 0; /* Reset default body margin */
  padding: 0; /* Reset default body padding */
  background-color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}