/* ProjectLinks.css */

@import '../../styles/variables.scss';

.project-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  border-radius: 10px;
  
  .project-links__container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    width: 100%;
    border-radius: 10px;
  }
}



.project-link {
  margin: 0.5rem;
  padding: 0.8rem;
  border-radius: 5px;
  background-color: $btn;
  color: black;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: $btn-hover;
    color: white;
  }
}


